.items-container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 500px;
}

.wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}