html{
    overflow-y: hidden;
    overflow-x: hidden;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: #2A2B2DFF;
    align-items: center;
    display: flex;
    flex-direction: column;
}