.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container *{
  margin-top: 10px;
  margin-bottom: 10px;
}


